[Unit]
Description=Drill: simulated outage of the main channel with an automatic failover check
[Service]
Type=oneshot
ExecStart=/usr/local/sbin/vpn-drill.sh
